html {
  background-color: cadetblue;
  animation-name: body;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@font-face {
  font-family: Cabin;
  src: url(./font/Cabin/Cabin-VariableFont_wdth\wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: Cabin;
  src: url(./font/Cabin/Cabin-Italic-VariableFont_wdth\wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: Exo_2;
  src: url(./font/Exo_2/Exo2-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: Exo_2;
  src: url(./font/Exo_2/Exo2-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: JetBrains_Mono;
  src: url(./font/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: JetBrains_Mono;
  src: url(./font/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: Kode_Mono;
  src: url(./font/Kode_Mono/KodeMono-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: Noto_Sans_Arabic;
  src: url(./font/Noto_Sans_Arabic/NotoSansArabic-VariableFont_wdth\wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: Oxygen_Mono;
  src: url(./font/Oxygen_Mono/OxygenMono-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: Sono;
  src: url(./font/Sono/Sono-VariableFont_MONO\wght.ttf);
  font-style: normal;
}

.titolo {
  font-family: JetBrains_Mono;
  color: antiquewhite;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.sottotitolo {
  font-family: JetBrains_Mono;
  color: antiquewhite;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragrafo {
  font-family: Oxygen_Mono;
  color: whitesmoke;
  border: 2px;
  border-radius: 20px;
  padding: 20px;
  line-height: 1.5;
  font-weight: bold;
}

.img_full {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-image: linear-gradient(
    90deg,
    whitesmoke,
    #cedbed,
    #f8ca1d,
    #cedbed,
    whitesmoke
  );
  padding: 10px;
  position: sticky;
  top: 0;
  background-size: 200%;
  animation-name: navgrad;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: darkblue;
  font-family: Exo_2;
}

a:visited {
  color: purple;
}

a:hover {
  background-color: yellow;
}

.link-img {
  padding: 20px;
  padding-top: 5px;
  display: block;
  width: 10%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.link-img:hover {
  background-color: transparent;
}

.link-img-caption {
  font-family: Exo_2;
  color: whitesmoke;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
}

@keyframes body {
  0% {
    background-color: cadetblue;
  }
  25% {
    background-color: darkslategray;
  }
  50% {
    background-color: darkcyan;
  }
  75% {
    background-color: darkslategray;
  }
  100% {
    background-color: cadetblue;
  }
}

@keyframes navgrad {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 0;
  }
  100% {
    background-position: -100% 0%;
  }
}
